<br/>
<div class="imgcontainer">
<img src="/assets/banner.jpeg" class="img-fluid mimg-thumbnail" alt="...">
 <h1 class="centered embossed">One place for all art lovers and collectors</h1>
 </div>

  <section class="cms-boxes">
    <div class="container-fluid">
<%  i = 0 %>
    <% @categories.each do |category| %>
      <%  i = i + 1 %>
        <% if i % 3 == 1 %>
    <div class="row">
        <% end %>
        <div class="col-md-4 cms-boxes-outer">
        <% if category.bggroundimage.attached? %>
            <div class="cms-boxes-items" style="background-image: url(<%= rails_blob_url(category.bggroundimage) %>)">
            <% else %>
             <div class="cms-boxes-items" style="background:<%= category.background %>;">
            <% end %>
                <div class="boxes-align">
                    <div class="small-box">
                        <h2><%= category.name %></h2>
                        <p><%= category.description %></p>                       
                    </div>
                </div>
            </div>
         </div>

        <% if i % 3 == 0 %>
    </div>
        <% end %>
    <% end %>

  </section>
