<br/>
<div class="imgcontainer">
<img src="/assets/banner.jpeg" class="img-fluid mimg-thumbnail" alt="...">
 <h1 class="centered embossed">One place for all art lovers and collectors</h1>
 </div>

  <section class="cms-boxes">
    <div class="container-fluid">
     <% (0...@categories.count).each do |i| %>
    <%  j = i + 1 %>
        <% if i == 0 || (j > 3 && j % 3 == 1) %>
    <div class="row">
        <% end %>
         <div class="col-md-4 cms-boxes-outer">
            <div class="cms-boxes-items chalpo">
                <div class="boxes-align">
                    <div class="small-box">
                       <!-- <i class="fa fa-4x fa-automobile">&nbsp;</i> -->
                        <h2><%= @categories[i].name %></h2>
                        <p><%= @categories[i].description %></p>                       
                    </div>
                </div>
            </div>
         </div>
        <% if (i > 0 && j % 3 == 0) || j == @categories.count %>
    </div>
        <% end %>   
    <% end %>

  </section>
