// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  line-height: 3.5vw;
}
.embossed {
  color: #f0f0f0;
  font-family: Futura;
  //background-color: #666666;
  text-shadow: 1px 4px 4px #555;
  text-align: center;
  //   -webkit-background-clip: text;
  //   -moz-background-clip: text;
}
